<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %} | Accountit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar my-nav" role="navigation" id="navbar">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">Accountit</a>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'contacts:list' %}">Contacts</a></li>
                        <li><a href="{% url 'accounts:create' %}">Create</a></li>
                        <li><a href="{% url 'accounts:create' %}">Create User</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                        <li><a>Logged in as {{ user.email }}</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Logout</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container my-content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>